@import "tailwindcss";


@layer utilities {
  .bg-gradient-main {
    background-image: linear-gradient(
      90deg,
      #2BD998,
      #00C5A6,
      #00AFB1,
      #0098B5,
      #0081B1,
      #0069A4
    );
  }

  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .animate-slideIn {
    animation: slideIn 0.3s ease-out forwards;
  }


  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-6px);
    }
  }

  .animate-float {
    animation: float 6s ease-in-out infinite;
  }
}
